<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_post_datadriven_testng</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;post_api_datadriven.Setup()[pri:0, instance:test_script.post_api_datadriven@24569dba]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@947553027</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:47</td>   <td>3567</td> <td>&nbsp;</td><td title="&gt;&gt;post_api_datadriven.Setup()[pri:0, instance:test_script.post_api_datadriven@239a307b]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@947553027</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:47</td>   <td>3491</td> <td>&nbsp;</td><td title="&lt;&lt;post_api_datadriven.teardown()[pri:0, instance:test_script.post_api_datadriven@24569dba]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@947553027</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:48</td>   <td>4039</td> <td>&nbsp;</td><td title="&lt;&lt;post_api_datadriven.teardown()[pri:0, instance:test_script.post_api_datadriven@239a307b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@947553027</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:44</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_api_datadriven.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:test_script.post_api_datadriven@24569dba]">validate_Post</td> 
  <td>main@947553027</td>   <td></td> </tr>
<tr bgcolor="7889f4">  <td>24/05/10 07:14:47</td>   <td>3568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_api_datadriven.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:test_script.post_api_datadriven@239a307b]">validate_Post</td> 
  <td>main@947553027</td>   <td></td> </tr>
</table>
