<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92827e">  <td>24/05/01 14:43:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="puttest.execute()[pri:0, instance:test_script.puttest@70ed52de]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="bb816e">  <td>24/05/01 14:43:11</td>   <td>4276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getscript.execute()[pri:0, instance:test_script.getscript@4082ba93]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>24/05/01 14:43:13</td>   <td>6268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testscript.execute()[pri:0, instance:test_script.testscript@2b30a42c]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="dac38f">  <td>24/05/01 14:43:12</td>   <td>5422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patchscript.execute()[pri:0, instance:test_script.patchscript@17fc391b]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="88a397">  <td>24/05/01 14:43:16</td>   <td>9637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="deletetestscript.execute()[pri:0, instance:test_script.deletetestscript@609e8838]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>24/05/01 14:43:17</td>   <td>10339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_param_api.execute()[pri:0, instance:test_script.post_param_api@359df09a]">execute</td> 
  <td>main@1358343316</td>   <td></td> </tr>
</table>
