<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_post_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83d8b8">  <td>24/05/15 15:44:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testscript_priority.setup()[pri:0, instance:test_script.testscript_priority@70ed52de]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@308433917</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/15 15:44:19</td>   <td>4540</td> <td>&nbsp;</td><td title="&lt;&lt;testscript_priority.teardown()[pri:0, instance:test_script.testscript_priority@70ed52de]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@308433917</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/15 15:44:15</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testscript_priority.validate1()[pri:1, instance:test_script.testscript_priority@70ed52de]">validate1</td> 
  <td>main@308433917</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/15 15:44:19</td>   <td>4028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testscript_priority.validate2()[pri:2, instance:test_script.testscript_priority@70ed52de]">validate2</td> 
  <td>main@308433917</td>   <td></td> </tr>
</table>
