<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_get</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="817693">  <td>24/05/22 15:25:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;getscript.setup()[pri:0, instance:test_script.getscript@7c37508a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352367347</td>   <td></td> </tr>
<tr bgcolor="817693">  <td>24/05/22 15:25:35</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="getscript.execute()[pri:0, instance:test_script.getscript@7c37508a]">execute</td> 
  <td>main@352367347</td>   <td></td> </tr>
</table>
