<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83d8b8">  <td>24/05/10 15:00:01</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;post_dataprovider_differentclass.teardown()[pri:0, instance:test_script.post_dataprovider_differentclass@221a3fa4]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863702030</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/10 15:00:00</td>   <td>-519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_dataprovider_differentclass.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:test_script.post_dataprovider_differentclass@221a3fa4]">validate_Post</td> 
  <td>main@1863702030</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/10 15:00:00</td>   <td>-519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_dataprovider_differentclass.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:test_script.post_dataprovider_differentclass@221a3fa4]">validate_Post</td> 
  <td>main@1863702030</td>   <td></td> </tr>
<tr bgcolor="83d8b8">  <td>24/05/10 14:59:57</td>   <td>-4124</td> <td>&nbsp;</td><td title="&gt;&gt;post_dataprovider_differentclass.Setup()[pri:0, instance:test_script.post_dataprovider_differentclass@221a3fa4]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863702030</td>   <td></td> </tr>
</table>
